{{extend 'index.html'}}



<h1>Cierre de Caja</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Seleccione caja y fecha
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">  
                	<li><a href="{{=url}}">Imprimir Cierre</a> </li>
                                        
                </ul>
            </div>
        </div>
    </div>                        
     <!-- /.panel-heading -->
    <div class="panel-body">        
            {{=form}}
        	
             <div class="alert alert-success alert-dismissable" style="display:none" id="notify-success">                        
             </div> 
             <div class="alert alert-warning alert-dismissable" style="display:none" id="notify-warning">
             </div> 
            <div class="alert alert-danger alert-dismissable" style="display:none" id="notify-danger">                         
             </div> 
                                    
            
             {{if exito==1:}}               
               <script>
               $('#notify-success').html("{{=msg}}");
               $('#notify-success').show();            
               $('#notify-success').delay(3000).fadeOut('slow');
               </script>             
             {{elif exito==0:}}
               <script>
               $('#notify-danger').html("{{=msg}}");
               $('#notify-danger').show();            
               $('#notify-danger').delay(3000).fadeOut('slow');
               </script>
             {{pass}}
            
    <!-- /.panel-body -->
    </div>
  </div>

   
<script type="text/javascript">

$("#no_table_Monto_Retiro").change( function(){
  var retiro = $("#no_table_Monto_Retiro").val() 
  var cierre = $('input[name=entradas]').val()-$('input[name=salidas]').val()-retiro;  
  //alert(cierre);
  $(".controls", "#no_table_Monto_Cierre__row").html(cierre);  
  $('input[name=monto_cierre]').val(cierre)  
  
});


</script>
