{{extend 'index.html'}}

    <!-- Page-Level Plugin Scripts - Tables 
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>-->
    

<h1>Tipo de pago</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Agregar
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                
            </div>
        </div>
    </div>                        
     <!-- /.panel-heading -->
    <div class="panel-body">
        {{=myform}}
                
    <!-- /.panel-body -->
    </div>
  </div>




